@model ProductDetailsModel
@{
    ViewData["Title"] = "Product Detail";
}

<div class="row product-detail">
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12 mb-3">
                @{
                    var image = Model.Products.Images.Find(img => img.ProductId == Model.Products.Id);
                }
                @if (image != null)
                {
                    <img src="~/img/@image.ImageUrl" alt="@Model.Products.Name" class="img-fluid top-image" id="image-box" />
                }

                else
                {
                    <img src="~/img/placeholder.jpg" alt="@Model.Products.Name" class="img-fluid top-image" id="image-box" />
                }
            </div>
        </div>
        <div class="row">
            @foreach (var img in Model.Products.Images)
            {
                <div class="col-md-3 mb-3">
                    <img src="~/img/@img.ImageUrl" class="img-fluid thumb-image" onclick="imageBox(this)" />
                </div>
            }
        </div>
    </div>
    <div class="col-md-9">
        <h1 class="mb-3">@Model.Products.Name</h1>
        <br />
        @foreach (var category in Model.Categories)
        {
            <a href="#" class="btn btn-link p-0 mb-3">@category.Name </a>
        }
        <div class="mb-3">
            <h4 class="text-primary mb-3">@Model.Products.Price ₺</h4>
            @if (!User.IsInRole("admin") && User.Identity.IsAuthenticated)
            {
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="productId" value="@Model.Products.Id" />
                    <div class="input-group">
                        <input type="number" name="quantity" value="1" min="1" step="1" class="form-control" style="max-width:60px;margin-right:16px;border-radius:8px" />
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-primary ml-3">
                                <i class="fas fa-cart-plus"></i>
                                Add To Cart
                            </button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<div class="row">
    <ul class="nav nav-tabs mt-2" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#comment" type="button" role="tab" aria-controls="home" aria-selected="true">
                Comments
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#detail" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Product Description
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="comment" role="tabpanel" aria-labelledby="home-tab" data-product-id="@Model.Products.Id" data-url="@Url.Action(action: "ShowProductComments", controller: "Comment", new { id = Model.Products.Id })">
            <partial name="_PartialComments" for="@Model.Comments" />
        </div>
        <div class="tab-pane fade" id="detail" role="tabpanel" aria-labelledby="profile-tab">
            <p class="text-muted">@Html.Raw(Model.Products.Description)</p>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js//CommentsImage.js"></script>
}